<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pixarch</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 
<input type="checkbox" name="darkmode" id="darkmode" value="darkmode">
<div class="backgrounddm"></div>
<nav class="flex-nav">
  <div class="container">
    <div class="grid">
      <div class="column-xs-9 column-md-8">
        <p id="logo"><a href="{{ url_for('home') }}">Pixarch</a><span id="highlight">.</span></p>
      </div>
      <div class="column-xs-3 column-md-4">
        <a href="#" class="toggle-nav">Menu <i class="ion-navicon-round"></i></a>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="https://www.github.com/Pixarch-Linux/pixarch" target="_blank">GitHub</a></li>
		  <li><a href="{{ url_for('download') }}">Download</a></li>
          <li><label for="darkmode" class="dmlabel"></label></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
 {% block content %}
 
 {% endblock %}
 
 </body>
 </html>
